.leftside {
	/* float: left; */
	width: 50%;
	height: 100vh;
	overflow: hidden;
	background-color: #161517;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Main {
	display: flex;
	flex-direction: row;
}

.logo {
	width: 900px;
	height: 700px;
}

.rightside {
	width: 50%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.Login {
	display: flex;
	flex-direction: column;
}
