.no-content-message {
	color: #cccccc;
	font-style: italic;
	font-size: 20px;
	text-align: center;
	margin: 20px;
}

.channel-list {
	width: calc(20% - 12px);
	border: 1px solid rgb(224, 224, 224);
	margin: 10px;
	margin-right: 0;
	border-right: none;
	height: calc(100% - 22px);
}
